<div class="row">
    <mat-form-field style="width: 200px">
        <mat-label>Seleccione su tipo de notificación</mat-label>
        <mat-select [(value)]="notificacion.seleccion" (valueChange)="notificacion.borrarMensaje()">
            <mat-option value="porDefecto">Por defecto</mat-option>
            <mat-option value="personalizada">Notificacion personalizada</mat-option>
        </mat-select>
    </mat-form-field>
      
    <div *ngIf="notificacion.seleccion == 'personalizada'">
        <div>
            <mat-form-field >
                <mat-label>Mensaje de error</mat-label>
                <textarea matInput
                            [(ngModel)] ="notificacion.mensajePersonalizado.error"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field >
                <mat-label>Mensaje de información</mat-label>
                <textarea matInput
                        [(ngModel)] ="notificacion.mensajePersonalizado.info"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>    
        </div>

    </div>
    <div>
        <button mat-button (click)="notificacion.mostrar()" class="btn-primary">Generar Notificación</button>

    </div>
</div>





<!-- <router-outlet></router-outlet> -->
